body {

    height: 400px; 
    width: 400x;
    background-image: url(http://oi59.tinypic.com/2070pec.jpg)     

}

S

.bajo2 {
color: black; 
font-family: 'Josefin Slab', serif;
text-align: left


}

body {
background-repeat: no-repeat;
}

.bajo {
color: black; 
font-family: 'Josefin Slab', serif;
text-align: center;
font-size: 400%


}

.bajopeq {
color: black; 
font-family: 'Josefin Slab', serif;
text-align: center

}

body {

background-attachment: fixed
}
