

html { 
  background: url(http://oi58.tinypic.com/2r2q72q.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bajo2 {
color: black; 
font-family: 'Josefin Slab', serif;
vertical-align: text-bottom; 


}


body {
background-repeat: no-repeat;
}

.bajo {
color: white; 
font-family: 'Josefin Slab', serif;
text-align: center;
font-size: 500%

}



.bajopeq {
color: white; 
font-family: 'Josefin Slab', serif;
text-align: center

}

body {
background-attachment: fixed;
}


.menu {

color: white;
font-family: 'Josefin Slab', serif; 
text-align: center

}


.porc {
width: 80%;
}


/* unvisited link */
a:link {
    color: white;
text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
text-decoration: none;
}

/* selected link */
a:active {
    color: white;
text-decoration: none;
}
